/* COLORS 

White - #fcfcfc
primary - EF1C25
grey - 3E3636

*/

/* Typography 

The rock and roll (headings)
roboto (p)

*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=RocknRoll+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::selection {
  background-color: #ef1c25;
  color: black;
}
.highlight{
  color:#F56B72;
  font-style: italic;
  font-size: 20px;
}
ul {
  list-style: none;
}
.early-life-list{
  padding: 0 4em;
}
.early-life-list li{
  font-size: 20px;
  padding:0.5em;
}
a {
  text-decoration: none;
  color: #f5eded;
  font-size: 25px;
}
a:hover {
  color: #ef1c25;
}

body {
  background-image: url(../images/background-pattern.png);
  background-color: black;
  color: #f5eded;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "RocknRoll One", sans-serif;
  font-size: 50px;
}

h2 {
  font-family: "RocknRoll One", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #ef1c25;
  text-align: center;
  padding: 1em 0;
}
h3 {
  font-size: 25px;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
img {
  cursor: pointer;
  width: 100%;
  height: auto;
}

section{
  padding:1em 0px;
}

.logo p {
  font-size: 35px;
  font-family: "RocknRoll One", sans-serif;
  color: #ef1c25;
  font-weight: 900;
  letter-spacing: 3px;
}
nav {
  background: black;
  padding-top: 30px;
  display: flex;  
  justify-content: space-between;
  padding: 0.5em 1em;
  align-items: center;
  flex-direction: column;
}
.navigation-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.navigation-links li {
  padding: 1.5em;
  letter-spacing: 2px;
  text-align: center;
}
.navigation-links li a {
  color: #f5eded;
  font-size: 20px;
  text-transform: uppercase;
  transition: color 0.2s ease-in;
}
.navigation-links li a:hover {
  color: #ef1c25;
}



/* about section styling */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_info_text,
.right_image {
  padding: 0.5em;
  /* width: 50%; */
}
.right_image {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.left_info_text h2 {
  text-align: center;
}

.left_info_text p {
  padding: 1.5em 0;
  align-self: center;
}
.left {
  text-align: center;
}

/* shows section */
#shows {
  display: flex;
  flex-direction: column;
}

.shows-list {
  margin: 1em 0.5em;
  display: flex;
  flex-direction: column;
}
.shows-list li {
  font-size: 28px;
  padding: 1em;
  border: #c9c9c9 1px solid;
  border-radius: 10px;
  margin: 10px;
  transition: background-color 900ms ease-in;

  cursor: pointer;
  transition: color 20ms ease-in;
}
.shows-list li:hover {
  background-color: #ef1c25;
  color: #191919;
}
.btn {
  color: #F56B72;
}
.shows-list li p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
}

.shows-list li p i {
  justify-self: flex-end;
  align-self: flex-end;
}
.left-align {
  align-self: flex-end;
}

/* gallery stylings */

.photo-gallery-container {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
  flex-direction: column;
}
.photo_gallery {
  padding: 10px;
  width: 100%;
  height: auto;
  transition: background-color 0.5s ease-in-out;
}
.photo_gallery:hover {
  cursor: pointer;
}
.right-aligned-link {
  text-align: right;
  float: right;
  padding: 10px;
}

footer {
  color: #c9c9c9;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-link a{
  font-size: 18px;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: color 200ms ease-in;
}

.social-icons-container {
  padding: 10px 0;
}

.social-icons-outer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-icons-outer li {

  border-radius: 100%;
  /* margin: 5px; */
}
.icons{
  font-size: 25px !important;
  cursor: pointer;
  color: #ef1c25;
}

.icons-small{
  font-size: 20px !important;
}


.links-container {
  display: flex;
}
.links-container li {
  padding: 0px 20px;
}
.links-container li a {
  font-size: 18px;
  color: #c9c9c9;
  text-transform: uppercase;
  transition: color 200ms ease-in;
}
.links-container li a:hover {
  font-size: 18px;
  color: #ef1c25;
  text-transform: uppercase;
}

i {
  font-size: 18px !important;
  padding: 10px;
  font-weight: 300;
}

footer {
  background-color: #000000;
  width: 100%;
  padding: 10px;
}

.active a {
  border-bottom: #ef1c25 3px solid;
}



table {
  margin: auto;
  width: 95%;
  border-collapse: collapse;
  color: #b1b0b0;
  margin-bottom: 2em;
}


th {
  font-family: "RocknRoll One", sans-serif;
  background: #c9c9c900; 
  border-top: 1px solid #2d3436;
  color: #c9c9c9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  
}
td, a{
  font-size: 18px;
  text-transform: capitalize;
}
th{
  padding: 10px;
}
td{
  padding: 15px;
  border-top: 1px solid #2d3436;
  text-align: center;
}


@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {

  
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    font-size: 15px;
  } 
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {

    border: #c9c9c9 1px solid;

    border-radius: 10px;
    margin: 10px;
  }
  td {
  
    border: none;
    border-top: #c9c9c9 1px solid;
    position: relative;
    padding-left: 50%;
    
  }
  td:before {

    position: absolute;
    left: 20px;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: center;
  } 

  td:nth-of-type(1):before {
    content: "Date";
    font-size: 18px;
   color: #fffafa;
    font-weight: 500;
  }
  td:nth-of-type(2):before {
    content: "Location";
    font-size: 18px;
   color: #fffafa;
    font-weight: 500;
  }
  td:nth-of-type(3):before {
    content: "Number of entries";
    font-size: 18px;
   color: #fffafa;
    font-weight: 500;
  }
  td:nth-of-type(4):before {
    content: "Guest";
    font-size: 18px;
   color: #fffafa;
    font-weight: 500;
  }
  td:nth-of-type(5):before {
    content: "Action";
    font-size: 18px;
   color: #fffafa;
    font-weight: 500;
  }

}
/* large devices */
@media only screen and (min-width: 1024px) {
  nav {
    background: transparent;
  }
  .photo_gallery {
    padding: 10px;
    width: 33.33%;
  }

  .photo-gallery-container {

    flex-direction: row;
  }
  

.bg-text::before{

  position: absolute;
  top:50;
  left:100;
  content: 'ABOUT';
  font-size: 100px;
  opacity: 0.2;
  color: #ef1c25;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ef1c25;
  
}

.bg-text-shows::before{
  position: absolute;
  top: -8;
  left: 40%;
  margin-left: -5px;
  content: 'TOUR';
  font-size: 100px;
  opacity: 0.2;
  color: #ef1c25;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ef1c25;
}

.bg-text-gallery::after{
  position: absolute;
  top: -8;
  left: 35%;
  margin-left: -5px;
  content: 'GALLERY';
  font-size: 100px;
  opacity: 0.2;
  color: #ef1c25;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ef1c25;
}
  
.gallery-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.image-container {

  padding: 0 2rem 2rem;
}
  .banner {
    color: white;
    background: url('../images/banner.png') top left/cover no-repeat !important;
    height: 400px !important;
  }

    
   @supports (display: grid) {
    #wrapper {
      display: grid;
      grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
      }

    header {
      grid-area: header;
    }
    nav{
      margin: 20px;
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
    }
  }

  #about {
     padding: 20px;
    flex-direction: row;
  }
  .left_info_text h2 {
    text-align: start;
  }
  .left_info_text p {
    padding: 1.5em 0;
    align-self: center;
  }
  .left {
    text-align: end;
  }
  #about, #shows, #gallery, footer {
    padding: 1em;
  }
  footer{
    margin-top: 1em;
  }
  h2 {
    font-size: 30px;
  }
  .shows-list li p {
    font-size: 25px;
  }
  footer {
    padding: 2em;
  }
  .logo p {
    font-size: 30px;
  }
  .gallery-image {
    padding: 10px;
  }
  nav {
    flex-direction: row;
  }

  .navigation-links {
    flex-direction: row;
  }
  .navigation-links li {
    padding: 0 0.8em;
  }
}


/* smaller devices */
@media only screen and (max-width: 768px) {
h3 {
    font-size: 22px;
}
.shows-list li p {
  font-size: 18px;
}
h2 {
  padding: 0.4em 0;
}
.navigation-links li {
  padding: 1.2em;
}
.skip-content {
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
  border-bottom: 1px solid #c9c9c9;
}
}





/* gallery */

.image-container {
  max-width: 100rem;
  margin: 0 auto;

}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 0 24rem;
  margin: 0.5rem;
  /* box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4); */
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1000ms ease-in;
}



@supports (display: grid) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 0.5rem;
  }

  .gallery-container,
  .gallery-item {
    margin: 0;
  }

  
}






.banner {
  color: white;
  background: url('../images/mobile-banner.jpg') top left/cover no-repeat;
  height: 300px;
  display: flex;

  justify-content: center;
  align-items: center;
}



.early-life-flex-container figure{
  margin: auto;
  width: 50%;
  height: auto;
}





.skip-content{
  width: 100%;
  background-color: #000000;
  color:#c9c9c9;
  opacity: 0.7;
   text-align: right;
  padding: 1em;
  font-size: small;
}